h1{
  text-align: center;
}
.cart-content {
  background-color: #f2f2f2;
  display: block;
  margin: 3rem auto;
  width: 90%;
}
.btnEmpty{
  display: block;
  max-width: 250px;
  margin: 1rem auto;
}
.noitems{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.total__import{
  width: 76%;
  text-align: right;
}
.buttonbar{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 40%;
}
.buttonbar button{
  width: 50%;
}
.buttonbar button:hover{
  border: none;
  background-color: tomato;
  color: white;
}