.carrito__item {
  background-color: white;
  border: 1px lightgray solid;
  border-radius: 10px;
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 10px;
}

.carrito__item :nth-child(1) {
  text-align: center;
  width: 40%;
}

.carrito__item :nth-child(2) {
  width: 15%;
}

.carrito__item :nth-child(3) {
  width: 15%;
}

.carrito__item :nth-child(4) {
  width: 15%;
}

.carrito__item :nth-child(5) {
  width: 15%;
}

.fa-trash {
  color: rgb(204, 11, 11);
}

.carrito__item__title {
  font-size: 1.1rem;
  font-weight: normal;
}

.carrito__item__title span {
  font-weight: bold;
}