.item-count {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.item-count__counter {
    align-items: center;
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    max-width: 200px;
}
p {
    text-align: center;
}
button {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3rem auto;
    padding: 0.5rem 0.8rem;
    text-align: center;
    transition: all 0.5s;
}
.btn-discount,
.btn-increment,
.btn-add {
    color: rgb(65, 62, 62);
}
.btn-add {
    background-color: salmon;
    border: none;
    border-radius: 5px;
    color: white;
    width: 114px;
}
.btn-add:hover {
    cursor: pointer;
    transform: scale(1);
}
.disabled {
    background-color: lightgray;
    color: #666666;
    cursor: not-allowed;
    transition: none !important;
}
.disabled:hover {
    transform: scale(1);
}
.container {
    margin: 5rem auto;
    width: 80%;
}

.item-counter {
    margin: 0 auto;
    text-align: center;
}

.item-counter__number {
    font-weight: bold;
    text-align: center;
}
